<div class="login-form">
  <h2 class="heading-secondary">Biiling</h2>
  <form action="<%= action %>" class="form" method="POST">
    <% if (fields.length) { %>
    <% fields.forEach(function(field){ %>
    <div class="form__group">
      <label class="form__label"><%= field.label %></label>
      <input type="<%= field.type %>" name="<%= field.name %>" <% if (field.property) { %> <%= field.property %> <% } %> class="form__input">
    </div>
    <% }) %>
    <% } %>
    <div class="form__group">
      <label for="Description" class="form__label">Tell us your story:</label>
      <textarea id="story" class="form__area" name="description" rows="5" cols="33" placeholder="please give the description"></textarea>
    </div>
    <button type="submit" class="btn">Submit</button>
    <!--Title for button is same as that of the page-->
    <button class="btn" id="clear">Clear</button>
    <!--Title for button is same as that of the page-->
  </form>
</div>