	<body class="form-v10">
	  <div class="page-content">
	    <div class="form-v10-content">
	      <form class="form-detail" action="<%= action %> " method="POST" id="myform">
	        <div class="form-left">
	          <h2>Billing Information</h2>
	          <div class="form-group">
	            <div class="form-row form-row-1">
	              <input type="text" name="firstName" id="first_name" class="input-text" value="<%= form.firstName %> " readonly />
	            </div>
	            <div class="form-row form-row-2">
	              <input type="text" name="lastName" id="last_name" class="input-text" value="<%= form.lastName %> " readonly />
	            </div>
	          </div>
	          <div class="form-row">
	            <input type="email" name="email" class="company" id="company" value="<%= form.email %> " readonly />
	          </div>
	          <div class="form-group">
	            <div class="form-row form-row-3">
	              <input type="text" name="phone" class="business" id="business" value="<%= form.phone %> " readonly />
	            </div>
	            <div class="form-row form-row-4">
	              <input type="text" name="amount" class="business" id="business" value="<%= form.amount %> " readonly />
	            </div>
	          </div>
	          <div class="form-row">
	            <input type="text" name="description" class="company" id="company" value="<%= form.description %> " readonly />
	          </div>
	        </div>

	        <div class="form-right">
	          <h2>Pdf's options</h2>

	          <div class="form-group">
	            <div class="form-row form-row-1">
	              <input type="text" name="none" class="zip" id="zip" readonly placeholder="Font-size" />
	            </div>
	            <div class="form-row form-row-2">
	              <select name="font_size">
	                <option value="12">12</option>
	                <option value="14">14</option>
	                <option value="16">16</option>
	                <option value="18">18</option>
	              </select>
	              <span class="select-btn">
	                <i class="zmdi zmdi-chevron-down"></i>
	              </span>
	            </div>
	          </div>

	          <div class="form-group">
	            <div class="form-row form-row-1">
	              <input type="text" name="none" class="zip" id="zip" placeholder="Margin" readonly />
	            </div>
	            <div class="form-row form-row-2">
	              <select name="margin">
	                <option value="12">12</option>
	                <option value="14">14</option>
	                <option value="16">16</option>
	                <option value="18">18</option>
	              </select>
	              <span class="select-btn">
	                <i class="zmdi zmdi-chevron-down"></i>
	              </span>
	            </div>
	          </div>

	          <div class="form-group">
							<div class="form-row form-row-1">
								<div class="form-checkbox">
									<label class="container"
										><p>Header</p>
										<input type="checkbox" name="header" />
										<span class="checkmark"></span>
									</label>
								</div>
							</div>
							<div class="form-row form-row-2">
								<input
									type="text"
									name="header_text"
									class="phone"
									id="phone"
									placeholder="Header text"
								/>
							</div>
						</div>

						<div class="form-group">
							<div class="form-row form-row-1">
								<div class="form-checkbox">
									<label class="container"
										><p>Footer</p>
										<input type="checkbox" name="footer" />
										<span class="checkmark"></span>
									</label>
								</div>
							</div>
							<div class="form-row form-row-2">
								<input
									type="text"
									name="footer_text"
									class="phone"
									id="phone"
									placeholder="Footer text"
								/>
							</div>
						</div>
						
	          <div class="form-row-last">
	            <input type="submit" name="register" class="register" value="Generate Invoice" />
	          </div>
	        </div>
	      </form>
	    </div>
	  </div>
	</body>